<body background="bgimage.jpg">
<div class="container">
<h2>My Items</h2>
<div>
  <label>Item name:
    <input #itemName />
  </label>
  <label>Item Quantity:
    <input #itemQuantity />
  </label>
  <label>Item Image:
    <input #itemImage />
  </label>

  <button (click)="add(itemName.value,itemQuantity.value,itemImage.value); itemName.value='';itemQuantity.value='';itemImage.value=''">
    add
  </button>
</div>

<ul class="items">
  <br><li *ngFor="let item of items">
    <a routerLink="/detail/{{item.id}}">
      <span class="badge"></span>{{item.name}} {{item.quantity}}
    </a>
    <button class="delete" title="delete item"
    (click)="delete(item)">x</button>
  </li>
</ul>
</div>
