body {
  margin-left: -10px;
}

ul {
  text-align: center;
  list-style-type: none;
  margin: 0;

  font-family: "Benton Sans", "Helvetica", "sans-serif";
  font-size: 20px;
  position: absolute;

}

li {
  float: left;
}

#navLinks {
  display: block;
  color: white;
  padding: 5px 20px;
  text-decoration: none;
  font-size: 90%;
}

#logo {
  font-size: 35px;
  height: 24px;
  width: 160px;
  color: white;
  font-weight: 700;
  padding-right: 30px;
  text-decoration: none;
}

#navLinks:hover {
  cursor: pointer;
  color: #9B59B6;
}

#navLinks {
  padding-top: 16px;
}

.title-color {
  background-color: #D6EAF8;
  height: 50px;
  border-bottom: 1px solid gray;
}

img.resize {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#sideBar {
  padding-bottom: 20px;
}
