<div style="text-align:center;">
  <div class="topnav">
  <a routerLink="/dashboard">Home</a>
  <a routerLink="/items">Add</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>

<div id="title-image"></div>
<div id="im"><img src="https://wallpapertag.com/wallpaper/full/9/b/f/21342-most-popular-nature-backgrounds-3840x2160-for-ipad-pro.jpg" /></div>
<h1 class="title">{{ title }}</h1>

<!-- <nav>
  <a id="wrapper" routerLink="/dashboard">Home</a>
  <a id="wrapper" routerLink="/items">Add</a><br>
</nav> -->
</div>
<router-outlet></router-outlet>
<app-messages></app-messages>
