<ul>
  <li><a id="logo" routerLink=""> {{ title }}</a></li>
  <li><a id="navLinks" routerLink="whatWeDo">What We Do </a></li>
  <li><a id="navLinks" routerLink="contactUs">Contact Us</a></li>
  <li><a id="navLinks" routerLink="aboutUs">About Us</a></li>
  <li><a id="navLinks" routerLink="logIn">Log In </a></li>
  <li><a id="navLinks" routerLink="signIn">Sign Up</a></li>
  <li><a id="navLinks" routerLink="addItem">Admin</a></li>
</ul>

<!-- <div class="titleText">
  <h1>Backr Campaigns</h1>
  <h1>Fund new and groundbreaking projects</h1>
</div>
<img class="resize" src="https://images.pexels.com/photos/235359/pexels-photo-235359.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""> -->
<!-- <img class="resize" src="https://images.pexels.com/photos/746421/pexels-photo-746421.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""> -->
<!-- <img class="resize" src="https://images.pexels.com/photos/356830/pexels-photo-356830.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt=""> -->
<router-outlet></router-outlet>
