[class*='col-'] {
  float: left;
  padding-right: 10px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  font-size: 1em;
  line-height: 1.3em;
  color: #4a4a4a;
  font-weight: 500;
  font-family: Source Sans Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
}
h4 {
  position: relative;
  color: #969696;
  font-weight: 700;
  font-size: 1.2em;
}
h2{
  font-size: 60px;
  font-weight: bold;
  text-align: center; margin-bottom: 0;
  color: #333;
  margin-bottom: -40px;
}
.grid {
  margin: 0;
}
.col-1-4 {
  width: 12%;
}
.module {
  padding-top: 15px;
  padding-bottom: -5px;
  text-align: center;
  color: #333;
  max-height: 400px;
  min-width: 120px;
  background-color: white;
  border-radius: 25px;
}
.module:hover {
  cursor: pointer;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
}

img{
  max-width: 75%;
  max-height: 75%;

}
